@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Noto Sans", serif;
}
body{
    background-color: #f1faee;
    max-height: 100vh;
    
}

h1{
    height: 4rem;
    line-height: 4rem;
    background-color: #1d3557;
    color: white;
}

.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.game{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 2px solid black; */
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game:hover{
    background-color: black;
    cursor: pointer;
}

img:hover{
    opacity: 0.5;
}

img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 2rem;
    margin-top: 2rem;
}

#msg{
    display: inline-block;
}

.msg-container{
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: #1d3557;
    color: white;

}
